<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="app-header">
      <section class="app-header--brand">
        <h1><%= t('app_name') %></h1>
      </section>
      <nav class="app-header--nav">
        <ul>
          <% if current_user.present? %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to t('chatrooms.title'), chatrooms_path %></li>
            <li><%= button_to t('actions.logout'), destroy_user_session_path, method: :delete, class: 'danger' %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <section class="alerts">
      <%= content_tag(:p, notice, class: 'alert alert--notice') if notice.present? %>
      <%= content_tag(:p, alert, class: 'alert alert--danger') if alert.present? %>
    </section>
    <main class="app-main">
      <%= yield %>
    </main>
    </main>
    <footer class="app-footer">
      <p>&copy; <%= "#{t('app_name')} #{(Date.today + 1.month).year}" %></p>
    </footer>
  </body>
</html>
